.alert {
    border-color: rgba(0, 0, 0, 0.1);
}
@each $context, $color-map in $contextual-colors {
    .alert-#{$context} {
        background-color: map-get($color-map, "bg");
        color: map-get($color-map, "fg");
    }
}