@import "mixins/buttons";
// for primary, secondary, info, success, warning, danger only
@mixin button-color($color) {
    background-color: $color;
    color: white;
}

.btn {
    &:focus,
    &.focus {
        box-shadow: none !important;
    }
    border-radius: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-color: $border-darken;
}
.btn-primary {
    @include button-color($ucdavis-blue);
    @include hover {
        background-color: desaturate($color: lighten($color: $ucdavis-blue, $amount: 20%), $amount: 50%);
    }
}

.btn-secondary {
    $main-color: desaturate(lighten($ucdavis-gold, 40%), 20%);
    background-color: $main-color;
    color: lighten($ucdavis-blue, 10%);
    border-color: transparent;
    &:hover {
        background-color: lighten($main-color, 10%);
        border-color: transparent;
        color: lighten($ucdavis-blue, 10%);
    }
}

.btn-success {
    @include button-color($sunny-grass);
    @include hover {
        background-color: saturate($color: darken($color: $sunny-grass, $amount: 5%), $amount: 10%);
    }
}

.btn-info {
    @include button-color($sky-blue);
    @include hover {
        background-color: desaturate($color: lighten($color: $sky-blue, $amount: 10%), $amount: 50%);
    }
}

.btn-warning {
    @include button-color($golden-lupine);
    color: black;
    @include hover {
        background-color: saturate($color: lighten($color: $golden-lupine, $amount: 10%), $amount: 20%);
    }
}

.btn-danger {
    @include button-color($unitrans-red);
    @include hover {
        background-color: saturate($color: lighten($color: $unitrans-red, $amount: 10%), $amount: 10%);
    }
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link.focus {
    border: 1px solid #DADADA;
}