@import "utilities";
@import "buttons";
@import "thumbnails";
@import "lists";
@import "cards";

table {
    thead {
        border-bottom: 2px solid $ucdavis-gold;
        th {
            border: none !important;
        }
    }
}

.well {
    background-color: $background-color;
    padding: 2em;
}