@import "utilities";
@import "buttons";
@import "thumbnails";
@import "lists";
@import "cards";
@import "navbar";

table {
    thead {
        border-bottom: 2px solid $ucdavis-gold;
        th {
            border: none !important;
        }
    }
}

.well {
    background-color: $background-color;
    padding: 2em;
}

form {
    font-family: $sans-serif;
    legend {
        color: $ucdavis-blue;
        font-weight:600;
    }
}