@font-face {
	font-family: 'proxima-nova-r';
	src: url('media/fonts/proximanova-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
 
 @font-face {
	font-family: 'proxima-nova-i';
	src: url('media/fonts/proximanova-regularit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
	font-family: 'proxima-nova-b';
	src: url('media/fonts/proximanova-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }