@font-face {
	font-family: 'proxima-nova';
	src: url('media/fonts/proximanova-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
 
 @font-face {
	font-family: 'proxima-nova';
	src: url('media/fonts/proximanova-regularit-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
 }

 @font-face {
	font-family: 'proxima-nova';
	src: url('media/fonts/proximanova-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
 }
 .navbar-inverted {
	.navbar-nav {
		&:before{
			background: url("media/global-header-bg.svg") !important;
		}
	}
}
.navbar-default {
	.navbar-banner {
		&:before{
			background: url("media/global-header-bg.svg") !important;
		}
	}
}