.list-group-item {
    border-color: $border-darken;
}

@each $color, $map in $contextual-colors {
    .list-group-item-#{$color} {
        background-color: map-get($map, "bg");
        color: map-get($map, "fg");
    }
}