.navbar {
    padding: 0;
    flex-wrap: wrap;
     &.navbar-default {
        .navbar-banner {
            padding: 0.5rem 1rem;
            flex-basis: 100%;
            flex-shrink: 0;
            display: block;
            background-image: url("./media/global-header-bg.svg");
            background-repeat: no-repeat;
            background-size: cover;
           .navbar-brand {
               width: 10em;
               &.navbar-brand-lg {
                    width: 20em;
                }
               img {
                   max-width: 100%;
               }
           }
        }
        .navbar-nav {
            padding: 0.5rem 1rem;
            display: inline-flex;
        }
    }
}