@import "ucdavis";
@mixin swatch-color($name, $color) {
    &.#{$name} {
        background-color: $color;
    }
}
.swatches pre {
    overflow: visible !important;
    > code {
        color: #e83e8c;
        overflow: visible !important;
        background: transparent !important;
    }
}
.swatch {   
    width: 80px;
    height: 80px;
    display: block;
    clear: both;
    &.ucdavis-gold {
        background-color: $ucdavis-gold;
    }
    &.ucdavis-blue {
        background-color: $ucdavis-blue;
    }
    @each $name, $color in $primary-colors {
        @include swatch-color($name, $color);
    }
    @each $name, $color in $muted-colors {
        @include swatch-color($name, $color);
    }
}
section {
    margin-bottom: 5em;
}

.example {
    border:2px solid #eeeeee;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}