html {
  font-size: 16px; }

body {
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #002855;
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 1rem;
  margin-bottom: 2rem; }

h1 {
  font-size: 3.0rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

p {
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
  line-height: 1.625;
  letter-spacing: .025rem; }

b, strong, th {
  font-weight: 800; }

label {
  font-weight: 500; }

legend {
  font-family: Georgia, Berkeley, serif;
  font-weight: 600; }

.lead {
  font-weight: 700;
  color: #b7bec5; }

.jumbotron h1, .jumbotron .h1 {
  font-size: 5rem; }

a.prettyinpink {
  color: #cc6699; }

.page-header > * {
  display: inline-block; }
  .page-header > *:first-child {
    background-color: #002855;
    color: white;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1.25em) 100%, 0% 100%);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-right: calc(1em + 1.25em);
    padding-left: 1em;
    width: auto; }

.page-header.unitrans-red {
  background-color: #ba0c2f;
  color: #fff; }

.page-header.western-redbud {
  background-color: #c6007e;
  color: #fff; }

.page-header.california-poppy {
  background-color: #ed8800;
  color: #212529; }

.page-header.golden-lupine {
  background-color: #ffcd00;
  color: #212529; }

.page-header.sunny-grass {
  background-color: #78be20;
  color: #212529; }

.page-header.sky-blue {
  background-color: #00b5e2;
  color: #fff; }

.page-header.recpool-blue {
  background-color: #008eaa;
  color: #fff; }

.page-header.wine-grape {
  background-color: #642667;
  color: #fff; }

.page-header.mu-brick {
  background-color: #c26e60;
  color: #fff; }

.page-header.hart-stucco {
  background-color: #e6a65d;
  color: #212529; }

.page-header.sage-green {
  background-color: #9caf88;
  color: #212529; }

.page-header.evergreen {
  background-color: #00573f;
  color: #fff; }

.page-header.wintersky-gray {
  background-color: #5b7f95;
  color: #fff; }

.page-header.cenwalk-gray {
  background-color: #b1b3b3;
  color: #212529; }

.page-header.cork-oak {
  background-color: #aca39a;
  color: #212529; }

.page-header.shingle-brown {
  background-color: #4f2c1d;
  color: #fff; }

.underline {
  position: relative; }
  .underline:after {
    display: block;
    margin: .25em 0 1em;
    border-top: 3px solid #daaa00;
    content: ""; }
  .underline:not(.text-center):after {
    width: 1.25em; }
  .underline.text-center:after {
    width: 4em;
    position: absolute;
    left: 50%;
    margin-left: -2em;
    margin-top: 0.75em; }

.underline.unitrans-red:after {
  border-top-color: #ba0c2f; }

.underline.western-redbud:after {
  border-top-color: #c6007e; }

.underline.california-poppy:after {
  border-top-color: #ed8800; }

.underline.golden-lupine:after {
  border-top-color: #ffcd00; }

.underline.sunny-grass:after {
  border-top-color: #78be20; }

.underline.sky-blue:after {
  border-top-color: #00b5e2; }

.underline.recpool-blue:after {
  border-top-color: #008eaa; }

.underline.wine-grape:after {
  border-top-color: #642667; }

.underline.mu-brick:after {
  border-top-color: #c26e60; }

.underline.hart-stucco:after {
  border-top-color: #e6a65d; }

.underline.sage-green:after {
  border-top-color: #9caf88; }

.underline.evergreen:after {
  border-top-color: #00573f; }

.underline.wintersky-gray:after {
  border-top-color: #5b7f95; }

.underline.cenwalk-gray:after {
  border-top-color: #b1b3b3; }

.underline.cork-oak:after {
  border-top-color: #aca39a; }

.underline.shingle-brown:after {
  border-top-color: #4f2c1d; }

.alert-primary {
  background-color: #063469;
  border-color: #074081;
  color: #a1b5cc; }

.alert-secondary {
  background-color: #e0bc4f;
  border-color: #d6aa26;
  color: #645119; }

.alert-info {
  background-color: #9be7fa;
  border-color: #6adbf7;
  color: #12829e; }

.alert-success {
  background-color: #a3d169;
  border-color: #8bc542;
  color: #476126; }

.alert-warning {
  background-color: #ffdf5c;
  border-color: #ffce05;
  color: #6f5b06; }

.alert-danger {
  background-color: #ed728a;
  border-color: #eb5b78;
  color: #661424; }

.btn.unitrans-red {
  color: #fff;
  background-color: #ba0c2f;
  border-color: #ba0c2f; }
  .btn.unitrans-red:hover {
    color: #fff;
    background-color: #960a26;
    border-color: #8a0923; }
  .btn.unitrans-red:focus, .btn.unitrans-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 12, 47, 0.5); }
  .btn.unitrans-red.disabled, .btn.unitrans-red:disabled {
    color: #fff;
    background-color: #ba0c2f;
    border-color: #ba0c2f; }
  .btn.unitrans-red:not(:disabled):not(.disabled):active, .btn.unitrans-red:not(:disabled):not(.disabled).active, .show > .btn.unitrans-red.dropdown-toggle {
    color: #fff;
    background-color: #8a0923;
    border-color: #7e0820; }
    .btn.unitrans-red:not(:disabled):not(.disabled):active:focus, .btn.unitrans-red:not(:disabled):not(.disabled).active:focus, .show > .btn.unitrans-red.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(186, 12, 47, 0.5); }

.btn-outline.unitrans-red {
  color: #ba0c2f;
  background-color: transparent;
  background-image: none;
  border-color: #ba0c2f; }
  .btn-outline.unitrans-red:hover {
    color: #fff;
    background-color: #ba0c2f;
    border-color: #ba0c2f; }
  .btn-outline.unitrans-red:focus, .btn-outline.unitrans-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 12, 47, 0.5); }
  .btn-outline.unitrans-red.disabled, .btn-outline.unitrans-red:disabled {
    color: #ba0c2f;
    background-color: transparent; }
  .btn-outline.unitrans-red:not(:disabled):not(.disabled):active, .btn-outline.unitrans-red:not(:disabled):not(.disabled).active, .show > .btn-outline.unitrans-red.dropdown-toggle {
    color: #fff;
    background-color: #ba0c2f;
    border-color: #ba0c2f; }
    .btn-outline.unitrans-red:not(:disabled):not(.disabled):active:focus, .btn-outline.unitrans-red:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.unitrans-red.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(186, 12, 47, 0.5); }

.btn.western-redbud {
  color: #fff;
  background-color: #c6007e;
  border-color: #c6007e; }
  .btn.western-redbud:hover {
    color: #fff;
    background-color: #a00066;
    border-color: #93005e; }
  .btn.western-redbud:focus, .btn.western-redbud.focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 0, 126, 0.5); }
  .btn.western-redbud.disabled, .btn.western-redbud:disabled {
    color: #fff;
    background-color: #c6007e;
    border-color: #c6007e; }
  .btn.western-redbud:not(:disabled):not(.disabled):active, .btn.western-redbud:not(:disabled):not(.disabled).active, .show > .btn.western-redbud.dropdown-toggle {
    color: #fff;
    background-color: #93005e;
    border-color: #860055; }
    .btn.western-redbud:not(:disabled):not(.disabled):active:focus, .btn.western-redbud:not(:disabled):not(.disabled).active:focus, .show > .btn.western-redbud.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(198, 0, 126, 0.5); }

.btn-outline.western-redbud {
  color: #c6007e;
  background-color: transparent;
  background-image: none;
  border-color: #c6007e; }
  .btn-outline.western-redbud:hover {
    color: #fff;
    background-color: #c6007e;
    border-color: #c6007e; }
  .btn-outline.western-redbud:focus, .btn-outline.western-redbud.focus {
    box-shadow: 0 0 0 0.2rem rgba(198, 0, 126, 0.5); }
  .btn-outline.western-redbud.disabled, .btn-outline.western-redbud:disabled {
    color: #c6007e;
    background-color: transparent; }
  .btn-outline.western-redbud:not(:disabled):not(.disabled):active, .btn-outline.western-redbud:not(:disabled):not(.disabled).active, .show > .btn-outline.western-redbud.dropdown-toggle {
    color: #fff;
    background-color: #c6007e;
    border-color: #c6007e; }
    .btn-outline.western-redbud:not(:disabled):not(.disabled):active:focus, .btn-outline.western-redbud:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.western-redbud.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(198, 0, 126, 0.5); }

.btn.california-poppy {
  color: #212529;
  background-color: #ed8800;
  border-color: #ed8800; }
  .btn.california-poppy:hover {
    color: #fff;
    background-color: #c77200;
    border-color: #ba6b00; }
  .btn.california-poppy:focus, .btn.california-poppy.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 136, 0, 0.5); }
  .btn.california-poppy.disabled, .btn.california-poppy:disabled {
    color: #212529;
    background-color: #ed8800;
    border-color: #ed8800; }
  .btn.california-poppy:not(:disabled):not(.disabled):active, .btn.california-poppy:not(:disabled):not(.disabled).active, .show > .btn.california-poppy.dropdown-toggle {
    color: #fff;
    background-color: #ba6b00;
    border-color: #ad6300; }
    .btn.california-poppy:not(:disabled):not(.disabled):active:focus, .btn.california-poppy:not(:disabled):not(.disabled).active:focus, .show > .btn.california-poppy.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(237, 136, 0, 0.5); }

.btn-outline.california-poppy {
  color: #ed8800;
  background-color: transparent;
  background-image: none;
  border-color: #ed8800; }
  .btn-outline.california-poppy:hover {
    color: #212529;
    background-color: #ed8800;
    border-color: #ed8800; }
  .btn-outline.california-poppy:focus, .btn-outline.california-poppy.focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 136, 0, 0.5); }
  .btn-outline.california-poppy.disabled, .btn-outline.california-poppy:disabled {
    color: #ed8800;
    background-color: transparent; }
  .btn-outline.california-poppy:not(:disabled):not(.disabled):active, .btn-outline.california-poppy:not(:disabled):not(.disabled).active, .show > .btn-outline.california-poppy.dropdown-toggle {
    color: #212529;
    background-color: #ed8800;
    border-color: #ed8800; }
    .btn-outline.california-poppy:not(:disabled):not(.disabled):active:focus, .btn-outline.california-poppy:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.california-poppy.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(237, 136, 0, 0.5); }

.btn.golden-lupine {
  color: #212529;
  background-color: #ffcd00;
  border-color: #ffcd00; }
  .btn.golden-lupine:hover {
    color: #212529;
    background-color: #d9ae00;
    border-color: #cca400; }
  .btn.golden-lupine:focus, .btn.golden-lupine.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 205, 0, 0.5); }
  .btn.golden-lupine.disabled, .btn.golden-lupine:disabled {
    color: #212529;
    background-color: #ffcd00;
    border-color: #ffcd00; }
  .btn.golden-lupine:not(:disabled):not(.disabled):active, .btn.golden-lupine:not(:disabled):not(.disabled).active, .show > .btn.golden-lupine.dropdown-toggle {
    color: #212529;
    background-color: #cca400;
    border-color: #bf9a00; }
    .btn.golden-lupine:not(:disabled):not(.disabled):active:focus, .btn.golden-lupine:not(:disabled):not(.disabled).active:focus, .show > .btn.golden-lupine.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 205, 0, 0.5); }

.btn-outline.golden-lupine {
  color: #ffcd00;
  background-color: transparent;
  background-image: none;
  border-color: #ffcd00; }
  .btn-outline.golden-lupine:hover {
    color: #212529;
    background-color: #ffcd00;
    border-color: #ffcd00; }
  .btn-outline.golden-lupine:focus, .btn-outline.golden-lupine.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 205, 0, 0.5); }
  .btn-outline.golden-lupine.disabled, .btn-outline.golden-lupine:disabled {
    color: #ffcd00;
    background-color: transparent; }
  .btn-outline.golden-lupine:not(:disabled):not(.disabled):active, .btn-outline.golden-lupine:not(:disabled):not(.disabled).active, .show > .btn-outline.golden-lupine.dropdown-toggle {
    color: #212529;
    background-color: #ffcd00;
    border-color: #ffcd00; }
    .btn-outline.golden-lupine:not(:disabled):not(.disabled):active:focus, .btn-outline.golden-lupine:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.golden-lupine.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 205, 0, 0.5); }

.btn.sunny-grass {
  color: #212529;
  background-color: #78be20;
  border-color: #78be20; }
  .btn.sunny-grass:hover {
    color: #fff;
    background-color: #639d1a;
    border-color: #5c9219; }
  .btn.sunny-grass:focus, .btn.sunny-grass.focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5); }
  .btn.sunny-grass.disabled, .btn.sunny-grass:disabled {
    color: #212529;
    background-color: #78be20;
    border-color: #78be20; }
  .btn.sunny-grass:not(:disabled):not(.disabled):active, .btn.sunny-grass:not(:disabled):not(.disabled).active, .show > .btn.sunny-grass.dropdown-toggle {
    color: #fff;
    background-color: #5c9219;
    border-color: #568717; }
    .btn.sunny-grass:not(:disabled):not(.disabled):active:focus, .btn.sunny-grass:not(:disabled):not(.disabled).active:focus, .show > .btn.sunny-grass.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5); }

.btn-outline.sunny-grass {
  color: #78be20;
  background-color: transparent;
  background-image: none;
  border-color: #78be20; }
  .btn-outline.sunny-grass:hover {
    color: #212529;
    background-color: #78be20;
    border-color: #78be20; }
  .btn-outline.sunny-grass:focus, .btn-outline.sunny-grass.focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5); }
  .btn-outline.sunny-grass.disabled, .btn-outline.sunny-grass:disabled {
    color: #78be20;
    background-color: transparent; }
  .btn-outline.sunny-grass:not(:disabled):not(.disabled):active, .btn-outline.sunny-grass:not(:disabled):not(.disabled).active, .show > .btn-outline.sunny-grass.dropdown-toggle {
    color: #212529;
    background-color: #78be20;
    border-color: #78be20; }
    .btn-outline.sunny-grass:not(:disabled):not(.disabled):active:focus, .btn-outline.sunny-grass:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.sunny-grass.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(120, 190, 32, 0.5); }

.btn.sky-blue {
  color: #fff;
  background-color: #00b5e2;
  border-color: #00b5e2; }
  .btn.sky-blue:hover {
    color: #fff;
    background-color: #0096bc;
    border-color: #008caf; }
  .btn.sky-blue:focus, .btn.sky-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 181, 226, 0.5); }
  .btn.sky-blue.disabled, .btn.sky-blue:disabled {
    color: #fff;
    background-color: #00b5e2;
    border-color: #00b5e2; }
  .btn.sky-blue:not(:disabled):not(.disabled):active, .btn.sky-blue:not(:disabled):not(.disabled).active, .show > .btn.sky-blue.dropdown-toggle {
    color: #fff;
    background-color: #008caf;
    border-color: #0082a2; }
    .btn.sky-blue:not(:disabled):not(.disabled):active:focus, .btn.sky-blue:not(:disabled):not(.disabled).active:focus, .show > .btn.sky-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 181, 226, 0.5); }

.btn-outline.sky-blue {
  color: #00b5e2;
  background-color: transparent;
  background-image: none;
  border-color: #00b5e2; }
  .btn-outline.sky-blue:hover {
    color: #fff;
    background-color: #00b5e2;
    border-color: #00b5e2; }
  .btn-outline.sky-blue:focus, .btn-outline.sky-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 181, 226, 0.5); }
  .btn-outline.sky-blue.disabled, .btn-outline.sky-blue:disabled {
    color: #00b5e2;
    background-color: transparent; }
  .btn-outline.sky-blue:not(:disabled):not(.disabled):active, .btn-outline.sky-blue:not(:disabled):not(.disabled).active, .show > .btn-outline.sky-blue.dropdown-toggle {
    color: #fff;
    background-color: #00b5e2;
    border-color: #00b5e2; }
    .btn-outline.sky-blue:not(:disabled):not(.disabled):active:focus, .btn-outline.sky-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.sky-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 181, 226, 0.5); }

.btn.recpool-blue {
  color: #fff;
  background-color: #008eaa;
  border-color: #008eaa; }
  .btn.recpool-blue:hover {
    color: #fff;
    background-color: #006e84;
    border-color: #006377; }
  .btn.recpool-blue:focus, .btn.recpool-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 142, 170, 0.5); }
  .btn.recpool-blue.disabled, .btn.recpool-blue:disabled {
    color: #fff;
    background-color: #008eaa;
    border-color: #008eaa; }
  .btn.recpool-blue:not(:disabled):not(.disabled):active, .btn.recpool-blue:not(:disabled):not(.disabled).active, .show > .btn.recpool-blue.dropdown-toggle {
    color: #fff;
    background-color: #006377;
    border-color: #00596a; }
    .btn.recpool-blue:not(:disabled):not(.disabled):active:focus, .btn.recpool-blue:not(:disabled):not(.disabled).active:focus, .show > .btn.recpool-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 142, 170, 0.5); }

.btn-outline.recpool-blue {
  color: #008eaa;
  background-color: transparent;
  background-image: none;
  border-color: #008eaa; }
  .btn-outline.recpool-blue:hover {
    color: #fff;
    background-color: #008eaa;
    border-color: #008eaa; }
  .btn-outline.recpool-blue:focus, .btn-outline.recpool-blue.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 142, 170, 0.5); }
  .btn-outline.recpool-blue.disabled, .btn-outline.recpool-blue:disabled {
    color: #008eaa;
    background-color: transparent; }
  .btn-outline.recpool-blue:not(:disabled):not(.disabled):active, .btn-outline.recpool-blue:not(:disabled):not(.disabled).active, .show > .btn-outline.recpool-blue.dropdown-toggle {
    color: #fff;
    background-color: #008eaa;
    border-color: #008eaa; }
    .btn-outline.recpool-blue:not(:disabled):not(.disabled):active:focus, .btn-outline.recpool-blue:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.recpool-blue.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 142, 170, 0.5); }

.btn.wine-grape {
  color: #fff;
  background-color: #642667;
  border-color: #642667; }
  .btn.wine-grape:hover {
    color: #fff;
    background-color: #491c4b;
    border-color: #401842; }
  .btn.wine-grape:focus, .btn.wine-grape.focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 38, 103, 0.5); }
  .btn.wine-grape.disabled, .btn.wine-grape:disabled {
    color: #fff;
    background-color: #642667;
    border-color: #642667; }
  .btn.wine-grape:not(:disabled):not(.disabled):active, .btn.wine-grape:not(:disabled):not(.disabled).active, .show > .btn.wine-grape.dropdown-toggle {
    color: #fff;
    background-color: #401842;
    border-color: #371538; }
    .btn.wine-grape:not(:disabled):not(.disabled):active:focus, .btn.wine-grape:not(:disabled):not(.disabled).active:focus, .show > .btn.wine-grape.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(100, 38, 103, 0.5); }

.btn-outline.wine-grape {
  color: #642667;
  background-color: transparent;
  background-image: none;
  border-color: #642667; }
  .btn-outline.wine-grape:hover {
    color: #fff;
    background-color: #642667;
    border-color: #642667; }
  .btn-outline.wine-grape:focus, .btn-outline.wine-grape.focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 38, 103, 0.5); }
  .btn-outline.wine-grape.disabled, .btn-outline.wine-grape:disabled {
    color: #642667;
    background-color: transparent; }
  .btn-outline.wine-grape:not(:disabled):not(.disabled):active, .btn-outline.wine-grape:not(:disabled):not(.disabled).active, .show > .btn-outline.wine-grape.dropdown-toggle {
    color: #fff;
    background-color: #642667;
    border-color: #642667; }
    .btn-outline.wine-grape:not(:disabled):not(.disabled):active:focus, .btn-outline.wine-grape:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.wine-grape.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(100, 38, 103, 0.5); }

.btn.mu-brick {
  color: #fff;
  background-color: #c26e60;
  border-color: #c26e60; }
  .btn.mu-brick:hover {
    color: #fff;
    background-color: #b65646;
    border-color: #ad5142; }
  .btn.mu-brick:focus, .btn.mu-brick.focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 110, 96, 0.5); }
  .btn.mu-brick.disabled, .btn.mu-brick:disabled {
    color: #fff;
    background-color: #c26e60;
    border-color: #c26e60; }
  .btn.mu-brick:not(:disabled):not(.disabled):active, .btn.mu-brick:not(:disabled):not(.disabled).active, .show > .btn.mu-brick.dropdown-toggle {
    color: #fff;
    background-color: #ad5142;
    border-color: #a44d3f; }
    .btn.mu-brick:not(:disabled):not(.disabled):active:focus, .btn.mu-brick:not(:disabled):not(.disabled).active:focus, .show > .btn.mu-brick.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(194, 110, 96, 0.5); }

.btn-outline.mu-brick {
  color: #c26e60;
  background-color: transparent;
  background-image: none;
  border-color: #c26e60; }
  .btn-outline.mu-brick:hover {
    color: #fff;
    background-color: #c26e60;
    border-color: #c26e60; }
  .btn-outline.mu-brick:focus, .btn-outline.mu-brick.focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 110, 96, 0.5); }
  .btn-outline.mu-brick.disabled, .btn-outline.mu-brick:disabled {
    color: #c26e60;
    background-color: transparent; }
  .btn-outline.mu-brick:not(:disabled):not(.disabled):active, .btn-outline.mu-brick:not(:disabled):not(.disabled).active, .show > .btn-outline.mu-brick.dropdown-toggle {
    color: #fff;
    background-color: #c26e60;
    border-color: #c26e60; }
    .btn-outline.mu-brick:not(:disabled):not(.disabled):active:focus, .btn-outline.mu-brick:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.mu-brick.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(194, 110, 96, 0.5); }

.btn.hart-stucco {
  color: #212529;
  background-color: #e6a65d;
  border-color: #e6a65d; }
  .btn.hart-stucco:hover {
    color: #212529;
    background-color: #e1943c;
    border-color: #df8e31; }
  .btn.hart-stucco:focus, .btn.hart-stucco.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 166, 93, 0.5); }
  .btn.hart-stucco.disabled, .btn.hart-stucco:disabled {
    color: #212529;
    background-color: #e6a65d;
    border-color: #e6a65d; }
  .btn.hart-stucco:not(:disabled):not(.disabled):active, .btn.hart-stucco:not(:disabled):not(.disabled).active, .show > .btn.hart-stucco.dropdown-toggle {
    color: #212529;
    background-color: #df8e31;
    border-color: #dd8826; }
    .btn.hart-stucco:not(:disabled):not(.disabled):active:focus, .btn.hart-stucco:not(:disabled):not(.disabled).active:focus, .show > .btn.hart-stucco.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(230, 166, 93, 0.5); }

.btn-outline.hart-stucco {
  color: #e6a65d;
  background-color: transparent;
  background-image: none;
  border-color: #e6a65d; }
  .btn-outline.hart-stucco:hover {
    color: #212529;
    background-color: #e6a65d;
    border-color: #e6a65d; }
  .btn-outline.hart-stucco:focus, .btn-outline.hart-stucco.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 166, 93, 0.5); }
  .btn-outline.hart-stucco.disabled, .btn-outline.hart-stucco:disabled {
    color: #e6a65d;
    background-color: transparent; }
  .btn-outline.hart-stucco:not(:disabled):not(.disabled):active, .btn-outline.hart-stucco:not(:disabled):not(.disabled).active, .show > .btn-outline.hart-stucco.dropdown-toggle {
    color: #212529;
    background-color: #e6a65d;
    border-color: #e6a65d; }
    .btn-outline.hart-stucco:not(:disabled):not(.disabled):active:focus, .btn-outline.hart-stucco:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.hart-stucco.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(230, 166, 93, 0.5); }

.btn.sage-green {
  color: #212529;
  background-color: #9caf88;
  border-color: #9caf88; }
  .btn.sage-green:hover {
    color: #fff;
    background-color: #89a071;
    border-color: #839a6a; }
  .btn.sage-green:focus, .btn.sage-green.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 175, 136, 0.5); }
  .btn.sage-green.disabled, .btn.sage-green:disabled {
    color: #212529;
    background-color: #9caf88;
    border-color: #9caf88; }
  .btn.sage-green:not(:disabled):not(.disabled):active, .btn.sage-green:not(:disabled):not(.disabled).active, .show > .btn.sage-green.dropdown-toggle {
    color: #fff;
    background-color: #839a6a;
    border-color: #7c9463; }
    .btn.sage-green:not(:disabled):not(.disabled):active:focus, .btn.sage-green:not(:disabled):not(.disabled).active:focus, .show > .btn.sage-green.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(156, 175, 136, 0.5); }

.btn-outline.sage-green {
  color: #9caf88;
  background-color: transparent;
  background-image: none;
  border-color: #9caf88; }
  .btn-outline.sage-green:hover {
    color: #212529;
    background-color: #9caf88;
    border-color: #9caf88; }
  .btn-outline.sage-green:focus, .btn-outline.sage-green.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 175, 136, 0.5); }
  .btn-outline.sage-green.disabled, .btn-outline.sage-green:disabled {
    color: #9caf88;
    background-color: transparent; }
  .btn-outline.sage-green:not(:disabled):not(.disabled):active, .btn-outline.sage-green:not(:disabled):not(.disabled).active, .show > .btn-outline.sage-green.dropdown-toggle {
    color: #212529;
    background-color: #9caf88;
    border-color: #9caf88; }
    .btn-outline.sage-green:not(:disabled):not(.disabled):active:focus, .btn-outline.sage-green:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.sage-green.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(156, 175, 136, 0.5); }

.btn.evergreen {
  color: #fff;
  background-color: #00573f;
  border-color: #00573f; }
  .btn.evergreen:hover {
    color: #fff;
    background-color: #003123;
    border-color: #00241a; }
  .btn.evergreen:focus, .btn.evergreen.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 87, 63, 0.5); }
  .btn.evergreen.disabled, .btn.evergreen:disabled {
    color: #fff;
    background-color: #00573f;
    border-color: #00573f; }
  .btn.evergreen:not(:disabled):not(.disabled):active, .btn.evergreen:not(:disabled):not(.disabled).active, .show > .btn.evergreen.dropdown-toggle {
    color: #fff;
    background-color: #00241a;
    border-color: #001711; }
    .btn.evergreen:not(:disabled):not(.disabled):active:focus, .btn.evergreen:not(:disabled):not(.disabled).active:focus, .show > .btn.evergreen.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 87, 63, 0.5); }

.btn-outline.evergreen {
  color: #00573f;
  background-color: transparent;
  background-image: none;
  border-color: #00573f; }
  .btn-outline.evergreen:hover {
    color: #fff;
    background-color: #00573f;
    border-color: #00573f; }
  .btn-outline.evergreen:focus, .btn-outline.evergreen.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 87, 63, 0.5); }
  .btn-outline.evergreen.disabled, .btn-outline.evergreen:disabled {
    color: #00573f;
    background-color: transparent; }
  .btn-outline.evergreen:not(:disabled):not(.disabled):active, .btn-outline.evergreen:not(:disabled):not(.disabled).active, .show > .btn-outline.evergreen.dropdown-toggle {
    color: #fff;
    background-color: #00573f;
    border-color: #00573f; }
    .btn-outline.evergreen:not(:disabled):not(.disabled):active:focus, .btn-outline.evergreen:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.evergreen.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 87, 63, 0.5); }

.btn.wintersky-gray {
  color: #fff;
  background-color: #5b7f95;
  border-color: #5b7f95; }
  .btn.wintersky-gray:hover {
    color: #fff;
    background-color: #4c6b7d;
    border-color: #486475; }
  .btn.wintersky-gray:focus, .btn.wintersky-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 127, 149, 0.5); }
  .btn.wintersky-gray.disabled, .btn.wintersky-gray:disabled {
    color: #fff;
    background-color: #5b7f95;
    border-color: #5b7f95; }
  .btn.wintersky-gray:not(:disabled):not(.disabled):active, .btn.wintersky-gray:not(:disabled):not(.disabled).active, .show > .btn.wintersky-gray.dropdown-toggle {
    color: #fff;
    background-color: #486475;
    border-color: #435d6d; }
    .btn.wintersky-gray:not(:disabled):not(.disabled):active:focus, .btn.wintersky-gray:not(:disabled):not(.disabled).active:focus, .show > .btn.wintersky-gray.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(91, 127, 149, 0.5); }

.btn-outline.wintersky-gray {
  color: #5b7f95;
  background-color: transparent;
  background-image: none;
  border-color: #5b7f95; }
  .btn-outline.wintersky-gray:hover {
    color: #fff;
    background-color: #5b7f95;
    border-color: #5b7f95; }
  .btn-outline.wintersky-gray:focus, .btn-outline.wintersky-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 127, 149, 0.5); }
  .btn-outline.wintersky-gray.disabled, .btn-outline.wintersky-gray:disabled {
    color: #5b7f95;
    background-color: transparent; }
  .btn-outline.wintersky-gray:not(:disabled):not(.disabled):active, .btn-outline.wintersky-gray:not(:disabled):not(.disabled).active, .show > .btn-outline.wintersky-gray.dropdown-toggle {
    color: #fff;
    background-color: #5b7f95;
    border-color: #5b7f95; }
    .btn-outline.wintersky-gray:not(:disabled):not(.disabled):active:focus, .btn-outline.wintersky-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.wintersky-gray.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(91, 127, 149, 0.5); }

.btn.cenwalk-gray {
  color: #212529;
  background-color: #b1b3b3;
  border-color: #b1b3b3; }
  .btn.cenwalk-gray:hover {
    color: #212529;
    background-color: #9ea0a0;
    border-color: #979a9a; }
  .btn.cenwalk-gray:focus, .btn.cenwalk-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 179, 179, 0.5); }
  .btn.cenwalk-gray.disabled, .btn.cenwalk-gray:disabled {
    color: #212529;
    background-color: #b1b3b3;
    border-color: #b1b3b3; }
  .btn.cenwalk-gray:not(:disabled):not(.disabled):active, .btn.cenwalk-gray:not(:disabled):not(.disabled).active, .show > .btn.cenwalk-gray.dropdown-toggle {
    color: #212529;
    background-color: #979a9a;
    border-color: #919494; }
    .btn.cenwalk-gray:not(:disabled):not(.disabled):active:focus, .btn.cenwalk-gray:not(:disabled):not(.disabled).active:focus, .show > .btn.cenwalk-gray.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(177, 179, 179, 0.5); }

.btn-outline.cenwalk-gray {
  color: #b1b3b3;
  background-color: transparent;
  background-image: none;
  border-color: #b1b3b3; }
  .btn-outline.cenwalk-gray:hover {
    color: #212529;
    background-color: #b1b3b3;
    border-color: #b1b3b3; }
  .btn-outline.cenwalk-gray:focus, .btn-outline.cenwalk-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 179, 179, 0.5); }
  .btn-outline.cenwalk-gray.disabled, .btn-outline.cenwalk-gray:disabled {
    color: #b1b3b3;
    background-color: transparent; }
  .btn-outline.cenwalk-gray:not(:disabled):not(.disabled):active, .btn-outline.cenwalk-gray:not(:disabled):not(.disabled).active, .show > .btn-outline.cenwalk-gray.dropdown-toggle {
    color: #212529;
    background-color: #b1b3b3;
    border-color: #b1b3b3; }
    .btn-outline.cenwalk-gray:not(:disabled):not(.disabled):active:focus, .btn-outline.cenwalk-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.cenwalk-gray.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(177, 179, 179, 0.5); }

.btn.cork-oak {
  color: #212529;
  background-color: #aca39a;
  border-color: #aca39a; }
  .btn.cork-oak:hover {
    color: #fff;
    background-color: #9b9085;
    border-color: #958a7e; }
  .btn.cork-oak:focus, .btn.cork-oak.focus {
    box-shadow: 0 0 0 0.2rem rgba(172, 163, 154, 0.5); }
  .btn.cork-oak.disabled, .btn.cork-oak:disabled {
    color: #212529;
    background-color: #aca39a;
    border-color: #aca39a; }
  .btn.cork-oak:not(:disabled):not(.disabled):active, .btn.cork-oak:not(:disabled):not(.disabled).active, .show > .btn.cork-oak.dropdown-toggle {
    color: #fff;
    background-color: #958a7e;
    border-color: #8f8377; }
    .btn.cork-oak:not(:disabled):not(.disabled):active:focus, .btn.cork-oak:not(:disabled):not(.disabled).active:focus, .show > .btn.cork-oak.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(172, 163, 154, 0.5); }

.btn-outline.cork-oak {
  color: #aca39a;
  background-color: transparent;
  background-image: none;
  border-color: #aca39a; }
  .btn-outline.cork-oak:hover {
    color: #212529;
    background-color: #aca39a;
    border-color: #aca39a; }
  .btn-outline.cork-oak:focus, .btn-outline.cork-oak.focus {
    box-shadow: 0 0 0 0.2rem rgba(172, 163, 154, 0.5); }
  .btn-outline.cork-oak.disabled, .btn-outline.cork-oak:disabled {
    color: #aca39a;
    background-color: transparent; }
  .btn-outline.cork-oak:not(:disabled):not(.disabled):active, .btn-outline.cork-oak:not(:disabled):not(.disabled).active, .show > .btn-outline.cork-oak.dropdown-toggle {
    color: #212529;
    background-color: #aca39a;
    border-color: #aca39a; }
    .btn-outline.cork-oak:not(:disabled):not(.disabled):active:focus, .btn-outline.cork-oak:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.cork-oak.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(172, 163, 154, 0.5); }

.btn.shingle-brown {
  color: #fff;
  background-color: #4f2c1d;
  border-color: #4f2c1d; }
  .btn.shingle-brown:hover {
    color: #fff;
    background-color: #331c13;
    border-color: #2a170f; }
  .btn.shingle-brown:focus, .btn.shingle-brown.focus {
    box-shadow: 0 0 0 0.2rem rgba(79, 44, 29, 0.5); }
  .btn.shingle-brown.disabled, .btn.shingle-brown:disabled {
    color: #fff;
    background-color: #4f2c1d;
    border-color: #4f2c1d; }
  .btn.shingle-brown:not(:disabled):not(.disabled):active, .btn.shingle-brown:not(:disabled):not(.disabled).active, .show > .btn.shingle-brown.dropdown-toggle {
    color: #fff;
    background-color: #2a170f;
    border-color: #20120c; }
    .btn.shingle-brown:not(:disabled):not(.disabled):active:focus, .btn.shingle-brown:not(:disabled):not(.disabled).active:focus, .show > .btn.shingle-brown.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(79, 44, 29, 0.5); }

.btn-outline.shingle-brown {
  color: #4f2c1d;
  background-color: transparent;
  background-image: none;
  border-color: #4f2c1d; }
  .btn-outline.shingle-brown:hover {
    color: #fff;
    background-color: #4f2c1d;
    border-color: #4f2c1d; }
  .btn-outline.shingle-brown:focus, .btn-outline.shingle-brown.focus {
    box-shadow: 0 0 0 0.2rem rgba(79, 44, 29, 0.5); }
  .btn-outline.shingle-brown.disabled, .btn-outline.shingle-brown:disabled {
    color: #4f2c1d;
    background-color: transparent; }
  .btn-outline.shingle-brown:not(:disabled):not(.disabled):active, .btn-outline.shingle-brown:not(:disabled):not(.disabled).active, .show > .btn-outline.shingle-brown.dropdown-toggle {
    color: #fff;
    background-color: #4f2c1d;
    border-color: #4f2c1d; }
    .btn-outline.shingle-brown:not(:disabled):not(.disabled):active:focus, .btn-outline.shingle-brown:not(:disabled):not(.disabled).active:focus, .show > .btn-outline.shingle-brown.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(79, 44, 29, 0.5); }

.btn {
  border-radius: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em; }
  .btn:focus, .btn.focus {
    box-shadow: none !important; }

.btn-primary {
  background-color: #002855;
  border-color: #002855;
  color: white; }
  .btn-primary:hover {
    background-color: #2f5b8c; }

.btn-secondary {
  background-color: #c99700;
  border-color: #c99700;
  color: white; }

.btn-success {
  background-color: #78be20;
  border-color: #78be20;
  color: white; }
  .btn-success:hover {
    background-color: #6bb212; }

.btn-info {
  background-color: #00b5e2;
  border-color: #00b5e2;
  color: white; }
  .btn-info:hover {
    background-color: #50aec5; }

.btn-warning {
  background-color: #ffcd00;
  border-color: #ffcd00;
  color: white;
  color: black; }
  .btn-warning:hover {
    background-color: #ffd733; }

.btn-danger {
  background-color: #ba0c2f;
  border-color: #ba0c2f;
  color: white; }
  .btn-danger:hover {
    background-color: #f60334; }

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link.focus {
  border: 1px solid #DADADA; }

.img-thumbnail {
  border-radius: 0;
  border: none;
  padding-left: 0;
  padding: 0;
  border: 1em solid #002855; }
  .img-thumbnail:not(.img-thumbnail-right):not(.img-thumbnail-top):not(.img-thumbnail-bottom) {
    border-width: 0 0 0 1em; }

.img-thumbnail-left {
  border-width: 0 0 0 1em; }

.img-thumbnail-top {
  border-width: 1em 0 0 0; }

.img-thumbnail-right {
  border-width: 0 1em 0 0; }

.img-thumbnail-bottom {
  border-width: 0 0 1em 0; }

.img-thumbnail.unitrans-red {
  border-color: #ba0c2f; }

.img-thumbnail.western-redbud {
  border-color: #c6007e; }

.img-thumbnail.california-poppy {
  border-color: #ed8800; }

.img-thumbnail.golden-lupine {
  border-color: #ffcd00; }

.img-thumbnail.sunny-grass {
  border-color: #78be20; }

.img-thumbnail.sky-blue {
  border-color: #00b5e2; }

.img-thumbnail.recpool-blue {
  border-color: #008eaa; }

.img-thumbnail.wine-grape {
  border-color: #642667; }

table thead {
  border-bottom: 2px solid #c99700; }
  table thead th {
    border: none !important; }

.swatches pre {
  overflow: visible !important; }
  .swatches pre > code {
    color: #e83e8c !important;
    overflow: visible !important;
    background: transparent !important; }

.swatch {
  width: 80px;
  height: 80px;
  display: block;
  clear: both; }
  .swatch.ucdavis-gold {
    background-color: #c99700; }
  .swatch.ucdavis-blue {
    background-color: #002855; }
  .swatch.unitrans-red {
    background-color: #ba0c2f; }
  .swatch.western-redbud {
    background-color: #c6007e; }
  .swatch.california-poppy {
    background-color: #ed8800; }
  .swatch.golden-lupine {
    background-color: #ffcd00; }
  .swatch.sunny-grass {
    background-color: #78be20; }
  .swatch.sky-blue {
    background-color: #00b5e2; }
  .swatch.recpool-blue {
    background-color: #008eaa; }
  .swatch.wine-grape {
    background-color: #642667; }
  .swatch.mu-brick {
    background-color: #c26e60; }
  .swatch.hart-stucco {
    background-color: #e6a65d; }
  .swatch.sage-green {
    background-color: #9caf88; }
  .swatch.evergreen {
    background-color: #00573f; }
  .swatch.wintersky-gray {
    background-color: #5b7f95; }
  .swatch.cenwalk-gray {
    background-color: #b1b3b3; }
  .swatch.cork-oak {
    background-color: #aca39a; }
  .swatch.shingle-brown {
    background-color: #4f2c1d; }

section {
  margin-bottom: 5em; }

.example {
  border: 2px solid #eeeeee;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-right: 2em; }

/*# sourceMappingURL=demo.css.map */
