html {
  font-size: 16px;
}

body {
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #002855;
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-family: "proxima-nova", Lucida Grande, Lucida Sans, Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
  line-height: 1.625;
  letter-spacing: .025rem;
}

b, strong, th {
  font-weight: 800;
}

label {
  font-weight: 500;
}

legend {
  font-family: Georgia, Berkeley, serif;
  font-weight: 600;
}

.lead {
  font-weight: 700;
  color: #b7bec5;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 5rem;
}

a.prettyinpink {
  color: #cc6699;
}

.page-header {
  color: white;
}

.page-header > * {
  display: inline-block;
}

.page-header > *:first-child {
  background-color: #002855;
  color: white;
  clip-path: polygon(0 0, 100% 0, calc(100% - 1.25em) 100%, 0% 100%);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: calc(1em + 1.25em);
  padding-left: 1em;
  width: auto;
}

.underline {
  position: relative;
}

.underline:after {
  display: block;
  margin: .25em 0 1em;
  border-top: 3px solid #daaa00;
  content: "";
}

.underline:not(.text-center):after {
  width: 1.25em;
}

.underline.text-center:after {
  width: 4em;
  position: absolute;
  left: 50%;
  margin-left: -2em;
  margin-top: 0.75em;
}

.underline.unitrans-red:after {
  border-top-color: #ba0c2f;
}

.underline.western-redbud:after {
  border-top-color: #c6007e;
}

.underline.california-poppy:after {
  border-top-color: #ed8800;
}

.underline.golden-lupine:after {
  border-top-color: #ffcd00;
}

.underline.sunny-grass:after {
  border-top-color: #78be20;
}

.underline.sky-blue:after {
  border-top-color: #00b5e2;
}

.underline.recpool-blue:after {
  border-top-color: #008eaa;
}

.underline.wine-grape:after {
  border-top-color: #642667;
}

.underline.mu-brick:after {
  border-top-color: #c26e60;
}

.underline.hart-stucco:after {
  border-top-color: #e6a65d;
}

.underline.sage-green:after {
  border-top-color: #9caf88;
}

.underline.evergreen:after {
  border-top-color: #00573f;
}

.underline.wintersky-gray:after {
  border-top-color: #5b7f95;
}

.underline.cenwalk-gray:after {
  border-top-color: #b1b3b3;
}

.underline.cork-oak:after {
  border-top-color: #aca39a;
}

.underline.shingle-brown:after {
  border-top-color: #4f2c1d;
}

.alert {
  border-color: rgba(0, 0, 0, 0.1);
}

.alert-primary {
  background-color: #063469;
  color: #a1b5cc;
}

.alert-secondary {
  background-color: #e0bc4f;
  color: #645119;
}

.alert-success {
  background-color: #a3d169;
  color: #476126;
}

.alert-warning {
  background-color: #ffdf5c;
  color: #6f5b06;
}

.alert-info {
  background-color: #9be7fa;
  color: #12829e;
}

.alert-danger {
  background-color: #ed728a;
  color: #661424;
}

.bg-unitrans-red {
  background-color: #ba0c2f !important;
}

.bg-western-redbud {
  background-color: #c6007e !important;
}

.bg-california-poppy {
  background-color: #ed8800 !important;
}

.bg-golden-lupine {
  background-color: #ffcd00 !important;
}

.bg-sunny-grass {
  background-color: #78be20 !important;
}

.bg-sky-blue {
  background-color: #00b5e2 !important;
}

.bg-recpool-blue {
  background-color: #008eaa !important;
}

.bg-wine-grape {
  background-color: #642667 !important;
}

.bg-mu-brick {
  background-color: #c26e60 !important;
}

.bg-hart-stucco {
  background-color: #e6a65d !important;
}

.bg-sage-green {
  background-color: #9caf88 !important;
}

.bg-evergreen {
  background-color: #00573f !important;
}

.bg-wintersky-gray {
  background-color: #5b7f95 !important;
}

.bg-cenwalk-gray {
  background-color: #b1b3b3 !important;
}

.bg-cork-oak {
  background-color: #aca39a !important;
}

.bg-shingle-brown {
  background-color: #4f2c1d !important;
}

.bg-primary {
  background-color: #063469 !important;
}

.bg-secondary {
  background-color: #e0bc4f !important;
}

.bg-success {
  background-color: #a3d169 !important;
}

.bg-warning {
  background-color: #ffdf5c !important;
}

.bg-info {
  background-color: #9be7fa !important;
}

.bg-danger {
  background-color: #ed728a !important;
}

.bg-primary {
  background-color: #002855 !important;
}

.bg-secondary {
  background-color: #c99700 !important;
}

.bg-success {
  background-color: #78be20 !important;
}

.bg-info {
  background-color: #00b5e2 !important;
}

.bg-warning {
  background-color: #ed8800 !important;
}

.bg-danger {
  background-color: #ba0c2f !important;
}

.btn {
  border-radius: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-color: rgba(0, 0, 0, 0.1);
}

.btn:focus, .btn.focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: #002855;
  color: white;
}

.btn-primary:hover {
  background-color: #2f5b8c;
}

.btn-secondary {
  background-color: #f5e0a1;
  color: #004088;
  border-color: transparent;
}

.btn-secondary:hover {
  background-color: #faefce;
  border-color: transparent;
  color: #004088;
}

.btn-success {
  background-color: #78be20;
  color: white;
}

.btn-success:hover {
  background-color: #6bb212;
}

.btn-info {
  background-color: #00b5e2;
  color: white;
}

.btn-info:hover {
  background-color: #50aec5;
}

.btn-warning {
  background-color: #ffcd00;
  color: white;
  color: black;
}

.btn-warning:hover {
  background-color: #ffd733;
}

.btn-danger {
  background-color: #ba0c2f;
  color: white;
}

.btn-danger:hover {
  background-color: #f60334;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link.focus {
  border: 1px solid #DADADA;
}

.img-thumbnail {
  border-radius: 0;
  border: none;
  padding-left: 0;
  padding: 0;
  border: 1em solid #002855;
}

.img-thumbnail:not(.img-thumbnail-right):not(.img-thumbnail-top):not(.img-thumbnail-bottom) {
  border-width: 0 0 0 1em;
}

.img-thumbnail-left {
  border-width: 0 0 0 1em;
}

.img-thumbnail-top {
  border-width: 1em 0 0 0;
}

.img-thumbnail-right {
  border-width: 0 1em 0 0;
}

.img-thumbnail-bottom {
  border-width: 0 0 1em 0;
}

.img-thumbnail.unitrans-red {
  border-color: #ba0c2f;
}

.img-thumbnail.western-redbud {
  border-color: #c6007e;
}

.img-thumbnail.california-poppy {
  border-color: #ed8800;
}

.img-thumbnail.golden-lupine {
  border-color: #ffcd00;
}

.img-thumbnail.sunny-grass {
  border-color: #78be20;
}

.img-thumbnail.sky-blue {
  border-color: #00b5e2;
}

.img-thumbnail.recpool-blue {
  border-color: #008eaa;
}

.img-thumbnail.wine-grape {
  border-color: #642667;
}

.list-group-item {
  border-color: rgba(0, 0, 0, 0.1);
}

.list-group-item-primary {
  background-color: #063469;
  color: #a1b5cc;
}

.list-group-item-secondary {
  background-color: #e0bc4f;
  color: #645119;
}

.list-group-item-success {
  background-color: #a3d169;
  color: #476126;
}

.list-group-item-warning {
  background-color: #ffdf5c;
  color: #6f5b06;
}

.list-group-item-info {
  background-color: #9be7fa;
  color: #12829e;
}

.list-group-item-danger {
  background-color: #ed728a;
  color: #661424;
}

.card {
  border-radius: 0;
}

.card .card-header {
  font-weight: bold;
}

.card .card-header .card-title {
  color: inherit;
}

.card.unitrans-red {
  color: #fff;
  background-color: #ba0c2f;
}

.card.unitrans-red .card-header {
  color: white;
  background-color: #ba0c2f;
}

.card.unitrans-red .card-body {
  color: #002855;
  background-color: #eea4b3;
}

.card.western-redbud {
  color: #fff;
  background-color: #c6007e;
}

.card.western-redbud .card-header {
  color: white;
  background-color: #c6007e;
}

.card.western-redbud .card-body {
  color: #002855;
  background-color: #f49ed5;
}

.card.california-poppy {
  color: #002855;
  background-color: #ed8800;
}

.card.california-poppy .card-header {
  color: white;
  background-color: #ed8800;
}

.card.california-poppy .card-body {
  color: #002855;
  background-color: #f8e1c1;
}

.card.golden-lupine {
  color: #002855;
  background-color: #ffcd00;
}

.card.golden-lupine .card-header {
  color: white;
  background-color: #ffcd00;
}

.card.golden-lupine .card-body {
  color: #002855;
  background-color: #faf2d1;
}

.card.sunny-grass {
  color: #002855;
  background-color: #78be20;
}

.card.sunny-grass .card-header {
  color: white;
  background-color: #78be20;
}

.card.sunny-grass .card-body {
  color: #002855;
  background-color: #d7eac0;
}

.card.sky-blue {
  color: #fff;
  background-color: #00b5e2;
}

.card.sky-blue .card-header {
  color: white;
  background-color: #00b5e2;
}

.card.sky-blue .card-body {
  color: #002855;
  background-color: #b7eaf7;
}

.card.recpool-blue {
  color: #fff;
  background-color: #008eaa;
}

.card.recpool-blue .card-header {
  color: white;
  background-color: #008eaa;
}

.card.recpool-blue .card-body {
  color: #002855;
  background-color: #85dff1;
}

.card.wine-grape {
  color: #fff;
  background-color: #642667;
}

.card.wine-grape .card-header {
  color: white;
  background-color: #642667;
}

.card.wine-grape .card-body {
  color: #002855;
  background-color: #c097c2;
}

.card.mu-brick {
  color: #fff;
  background-color: #c26e60;
}

.card.mu-brick .card-header {
  color: white;
  background-color: #c26e60;
}

.card.mu-brick .card-body {
  color: #002855;
  background-color: #e6d8d5;
}

.card.hart-stucco {
  color: #002855;
  background-color: #e6a65d;
}

.card.hart-stucco .card-header {
  color: white;
  background-color: #e6a65d;
}

.card.hart-stucco .card-body {
  color: #002855;
  background-color: #f7efe5;
}

.card.sage-green {
  color: #002855;
  background-color: #9caf88;
}

.card.sage-green .card-header {
  color: white;
  background-color: #9caf88;
}

.card.sage-green .card-body {
  color: #002855;
  background-color: #e8e8e8;
}

.card.evergreen {
  color: #fff;
  background-color: #00573f;
}

.card.evergreen .card-header {
  color: white;
  background-color: #00573f;
}

.card.evergreen .card-body {
  color: #002855;
  background-color: #18d8a3;
}

.card.wintersky-gray {
  color: #fff;
  background-color: #5b7f95;
}

.card.wintersky-gray .card-header {
  color: white;
  background-color: #5b7f95;
}

.card.wintersky-gray .card-body {
  color: #002855;
  background-color: #c2c5c7;
}

.card.cenwalk-gray {
  color: #002855;
  background-color: #b1b3b3;
}

.card.cenwalk-gray .card-header {
  color: white;
  background-color: #b1b3b3;
}

.card.cenwalk-gray .card-body {
  color: #002855;
  background-color: white;
}

.card.cork-oak {
  color: #002855;
  background-color: #aca39a;
}

.card.cork-oak .card-header {
  color: white;
  background-color: #aca39a;
}

.card.cork-oak .card-body {
  color: #002855;
  background-color: #f0f0f0;
}

.card.shingle-brown {
  color: #fff;
  background-color: #4f2c1d;
}

.card.shingle-brown .card-header {
  color: white;
  background-color: #4f2c1d;
}

.card.shingle-brown .card-body {
  color: #fff;
  background-color: #a37562;
}

.card.card-primary {
  color: #fff;
  background-color: #002855;
}

.card.card-primary .card-header {
  color: white;
  background-color: #002855;
}

.card.card-primary .card-body {
  color: #fff;
  background-color: #388be9;
}

.card.card-primary .card-body {
  background-color: #385b83;
  color: white;
}

.card.card-secondary {
  color: #fff;
  background-color: #c99700;
}

.card.card-secondary .card-header {
  color: white;
  background-color: #c99700;
}

.card.card-secondary .card-body {
  color: #002855;
  background-color: #f5e0a1;
}

.card.card-secondary .card-body {
  background-color: #e0d5b6;
  color: #002855;
}

.navbar {
  padding: 0;
  flex-wrap: wrap;
}

.navbar.navbar-default .navbar-banner {
  padding: 0.5rem 1rem;
  flex-basis: 100%;
  flex-shrink: 0;
  display: block;
  background-image: url("./media/global-header-bg.svg");
}

.navbar.navbar-default .navbar-banner .navbar-brand {
  width: 10em;
}

.navbar.navbar-default .navbar-banner .navbar-brand.navbar-brand-lg {
  width: 20em;
}

.navbar.navbar-default .navbar-banner .navbar-brand img {
  max-width: 100%;
}

.navbar.navbar-default .navbar-nav {
  padding: 0.5rem 1rem;
  display: inline-flex;
}

table thead {
  border-bottom: 2px solid #c99700;
}

table thead th {
  border: none !important;
}

.well {
  background-color: #ebebeb;
  padding: 2em;
}
/*# sourceMappingURL=ucdavis.css.map */